*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
html, body{
    height: 100vh;/*ocupa toda a tela disponível*/
    width: 100vw;
}
body{
    background: url(pacote-d013/pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover; /*Cobre a tela toda*/
    background-attachment: fixed; /*Fixa a imagem de fundo*/
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;/*Define a posicão de cima da caixa*/
    left: 50%;/*Define a posicão de esquerda da caixa*/
    transform: translate(-50%, -50%);/*Ajusta para que fique no centro*/
    height: 627px;
    width: 311px;
    background: url(pacote-d013/pacote-d013/imagens/frame-iphone.png) no-repeat;
}
#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
#redes-sociais{
    text-align: right;
}
#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px white;
    transition: 0.3s;
}
#redes-sociais img:hover{
    box-shadow: 0px 0px 20px white;
    transform: translate(-5px, -5px);
    cursor: pointer;
    transition: transform 0.5s;
}
